<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.small_project">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".network.Myapp"
        android:allowBackup="true"
        android:anyDensity="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".reg.RegActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106036236" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟QQ******结束 -->


        <!-- 配置友盟上你应用注册的Key值,替换value -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c3588f9b465f57a11000399" />

        <activity android:name=".SeekActivity" />
        <activity android:name=".MyActivity.MyDataActivity" />
        <activity android:name=".MyActivity.MyCircleActivity" />
        <activity android:name=".MyActivity.MyFootActivity" />
        <activity android:name=".MyActivity.MyWalletActivity" />
        <activity android:name=".MyActivity.MySiteActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".MyActivity.SelectActivity" />
        <activity android:name=".MyActivity.PayActivity"></activity>
        <activity android:name=".GoodsLvThreeActivity"/>
    </application>

</manifest>